@inherits LayoutComponentBase

<div class="page">
    <header class="header">
        <div class="container">
            <h1 class="logo">
				<a href="/">prozolicの技術ブログかもしれない</a>
            </h1>
        </div>
    </header>

    <main class="main">
        <div class="container">
            @Body
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Tech Blog. All rights reserved.</p>
        </div>
    </footer>
</div>
